

@model WebApplication1.Models.RandGen

<h2>PassUsingModel</h2>

<p>Rand value first: @Model.val1</p>
<p>Rand value second: @Model.val2</p>
<p>Add:</p>
<p>@Model.val1 + @Model.val2 = @Model.add</p>
<p>Sub:</p>
<p>@Model.val1 - @Model.val2 = @Model.sub</p>
<p>Mult:</p>
<p>@Model.val1 * @Model.val2 = @Model.mul</p>
<p>Div:</p>
<p>@Model.val1 / @Model.val2 = @Model.div</p>