
@{
    ViewData["Title"] = "PassUsingViewData";
    var rng = ViewData["RandGen"] as RandGen;
}
<h2>PassUsingViewData</h2>

<p>Rand value first: @rng.val1</p>
<p>Rand value second: @rng.val2</p>
<p>Add:</p>
<p>@rng.val1 + @rng.val2 = @rng.add</p>
<p>Sub:</p>
<p>@rng.val1 - @rng.val2 = @rng.sub</p>
<p>Mult:</p>
<p>@rng.val1 * @rng.val2 = @rng.mul</p>
<p>Div:</p>
<p>@rng.val1 / @rng.val2 = @rng.div</p>
