<h2>PassUsingViewBag</h2>

<p>Rand value first: @ViewBag.RandGen.val1</p>
<p>Rand value second: @ViewBag.RandGen.val2</p>
<p>Add:</p>
<p>@ViewBag.RandGen.val1 + @ViewBag.RandGen.val2 = @ViewBag.RandGen.add</p>
<p>Sub:</p>
<p>@ViewBag.RandGen.val1 - @ViewBag.RandGen.val2 = @ViewBag.RandGen.sub</p>
<p>Mult:</p>
<p>@ViewBag.RandGen.val1 * @ViewBag.RandGen.val2 = @ViewBag.RandGen.mul</p>
<p>Div:</p>
<p>@ViewBag.RandGen.val1 / @ViewBag.RandGen.val2 = @ViewBag.RandGen.div</p>